$lime: #ebefe2;
$lime-white: #f4f5f0;
$aboutme-bg: #e2ebd0;
$main-font-color : #373e42;
$diagram: #77a266;

//layout setups
@import "layout/setups";
@import "layout/fonts";

//mixins
@import "helpers/mixins";

@import "blocks/**/*";